:root {
  --Light-red: 0, 100%, 67%;
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --2rem: 2rem;
}

* {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

body {

  padding: 0;
  margin: 0;
}

@media (min-width: 480px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }


}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  max-width: 740px;
  border-radius: var(--2rem);
  margin: 0 auto;
}

.result {
  color: var(--White);
  text-align: center;
  background-color: var(--Light-slate-blue);
  background: linear-gradient(180deg, var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
  border-radius: var(--2rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.25rem 3rem;
}

.result h3 {
  color: var(--Light-lavender);
  font-size: 1.25rem;
  font-weight: 500;
}

.result h2 {
  font-size: 2rem;
  font-weight: 700;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(180deg, var(--Violet-blue) 0%, var(--Persian-blue) 100%);
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle span {
  color: (--White);
  font-size: 4rem;
  font-weight: 800;
}

.circle p {
  color: var(--Light-lavender);
  margin: 0;
}

.result p {
  color: var(--Light-lavender);
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.summary h3 {
  color: var(--Dark-gray-blue);
  font-size: 1.25rem;
  font-weight: 800;
}

.summary ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reaction {
  background-color: hsla(var(--Light-red), .1);
}

.reaction .category {
  color: var(--Light-red);
  opacity: 1;
}